@import "constant.scss";

.auth-mask{
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
  overflow-y: scroll;// 超过边距上下滚动
  .auth-group{
    $Auth_Height:500px;
    $Auth_Width:400px;
    margin: 50px auto;
    width: $Auth_Width;
    height: $Auth_Height;
    background: #fff;
    overflow: hidden;
    position: relative;

    .sign-group{
      overflow: hidden;
      width: $Auth_Width*2;
      left:-$Auth_Width;
      position: absolute;// 修改left值需要绝对定位
      .auth-content{
        width: $Auth_Width;
        .icon{
          padding: 10px 20px;//
          position: relative;
          .iconfont{
            position: absolute;
            right:20px;
          }
        }
        .header-group{
          overflow: hidden;
          padding: 0  20px;
          .header-content{
            overflow: hidden;
            border-bottom: 1px solid #ccc;
            .title{
              padding: 10px 0;
            font-size: 18px;
            float:left;
            border-bottom:2px solid $Theme_Color;
          }
            .title-b{
              padding: 10px 0;
              float:right;
              font-size:18px;
              color: $Theme_Color;
          }
          }
        }
        .form-group{
          width:100%;
          box-sizing: border-box;
          padding: 20px;
          .input-group{
            padding-bottom: 10px;
            width: 100%;
            .short-input{
              width: 260px;
              float: left;
            } //验证码样式
            .addon{
              width: 80px;
              float: right;
              img{
                height:100%;

              }
              .msg-capture-img{
                display: inline-block;
                height: 100%;
                width:100%;
              }

            }

            .other{
              clear: both// 清除浮动
            }
            .form-control{
              height: 36px;
              width: 100%;
            }
            .checkme{

            }
            .confirm-btn{
              width: 100%;
              background: $Theme_Color;
              height: 36px;
              border-style: none;
              color: #fff;
              font-size: 18px;

            }
          }
        }

      }
      .sign-in{
        float: left;

      }
      .sign-up{
        float: right;

      }
    }
  }
}