<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小饭桌</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_797244_32jvohkh9hr.css">
</head>
<style>
@font-face {
  font-family: 'iconfont';  /* project id 797244 */
  src: url('https://at.alicdn.com/t/font_797244_32jvohkh9hr.eot');
  src: url('https://at.alicdn.com/t/font_797244_32jvohkh9hr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_797244_32jvohkh9hr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_797244_32jvohkh9hr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_797244_32jvohkh9hr.svg#iconfont') format('svg');
}
</style>
<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="#"></a>
        </div>
        <div class="top_catogery">
            <ul>
                <li>
                    <a>咨询</a>
                </li>
                <li class="active">
                    <a>在线课堂</a>
                </li>
                <li>
                    <a>企业服务</a>
                </li>
                <li>
                    <a>搜索</a>
                </li>
            </ul>
        </div>
        <div class="auth-group">
           <!-- <span class="icon-person">&#xe6ab;</span> -->
            <div class="icon-content">登陆/注册</div>
        </div>
    </div>
</div>
<div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <div class="banner-group" id="banner-group">
                <ul class="banner-ul" id="bannerUI">
                    <li>
                        <a href="#"><img src="https://static-image.xfz.cn/1529553938_445.png"></a>
                    </li>
                    <li>
                        <a href="#"><img src="https://static-image.xfz.cn/1529980408_582.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img src="https://static-image.xfz.cn/1530258909_713.png"></a>
                    </li>
                    <li>
                        <a href="#"><img src="https://static-image.xfz.cn/1529561063_668.jpg"></a>
                    </li>

                </ul>
                <span class="arrow left-arrow" id="left-arrow">《</span>
                <span class="arrow right-arrow" id="right-arrow">》</span>
                <ul class="dots" id="dots">
                </ul>
            </div>
            <div class="news-list">
                <ul class="list-tab">
                    <li ><a  href="#">最新资讯</a></li>
                    <li class="active"><a href="#">热点资讯</a></li>
                    <li><a href="#">干货达人</a></li>
                    <li><a href="#">最好的你</a></li>
                </ul>
                <ul class="news-group">
                    <li>
                        <div class="thumbnial-group"><a><img src="https://static-image.xfz.cn/1531497424_561.jpeg-website.news.list"></a></div>
                        <div class="news-info">
                            <p class="title"><a href="#">【不凡早报】京东物流：十年内物流成本已降低50%；乐视网：上半年预计亏损11.05亿元-11.1亿元</a></p>
                            <p class="info">乐视网公告称，上半年预计亏损11.05亿元-11.1亿元，上年同期亏损6.37亿元；如经审计后公司2018年全年净资产为负，公司存在股票被暂停上市的风险。</p>
                            <div class="more" >
                            <span class="category">热点</span>
                            <span class="pub-time">2018-07-14</span>
                            <span class="pub-author">何亚东</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnial-group"><a><img src="https://static-image.xfz.cn/1531497424_561.jpeg-website.news.list"></a></div>
                        <div class="news-info">
                            <p class="title"><a href="#">【不凡早报】京东物流：十年内物流成本已降低50%；乐视网：上半年预计亏损11.05亿元-11.1亿元</a></p>
                            <p class="info">乐视网公告称，上半年预计亏损11.05亿元-11.1亿元，公司存在股票被暂停上市的风险。</p>
                            <div class="more" >
                            <span class="category">热点</span>
                            <span class="pub-time">2018-07-14</span>
                            <span class="pub-author">何亚东</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="loadmore">
                <button class="morebutton">加载更多</button>
            </div>
        </div>
        <div class="siderbar-wrapper">
            <div class="commercial">
                <div class="title-group">
                    <span class="title">小饭桌课堂</span>
                    <span class="more">更多</span>
                </div>
                <div class="ad-image">
                <a href="#">
                    <img src="https://static-image.xfz.cn/1529560387_820.jpg-website.active.list">
                </a>
                </div>
            </div>
            <div class="foucs-group">
                <div class="title-group">
                    <span class="title">联系我们</span>
                    <span class="more">更多</span>
                </div>
                <div class="content-group">
                    <ul>
                        <li class="zhihu"><a href="#">知乎</a></li>
                        <li class="weibo"><a href="#">微博</a></li>
                        <li class="toutiao"><a href="#">今日头条</a></li>
                    </ul>
                </div>
                <div class="qrcode">
                    <div class="qrcode-image"></div>
                    <span class="qrcode-info">扫码关注不凡商业微信公众平台bufanbiz</span>
                </div>
            </div>
            <div class="hotnews">
                <div class="title-group">热门推荐</div>
                <ul class="hotnews-warpper">
                     <li>
                         <div class="left-group">
                             <p class="red-content">王健林卖掉进军海外的首个项目：17亿售出伦敦ON...</p>
                            <div class="more">
                                <span class="category">深度报道</span>
                                <span class="time">1小时前</span>
                            </div>
                         </div>
                         <div class="rights-group">
                            <img src="https://static-image.xfz.cn/1531881965_705.jpg-website.news.list">
                         </div>
                    </li>
                    <li>
                         <div class="left-group">
                             <p class="red-content">王健林卖掉进军海外的首个项目：17亿售出伦敦ON...</p>
                            <div class="more">
                                <span class="category">深度报道</span>
                                <span class="time">1小时前</span>
                            </div>
                         </div>
                         <div class="rights-group">
                            <img src="https://static-image.xfz.cn/1531881965_705.jpg-website.news.list">
                         </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foot-warpper">
        <div class="cooperation">
            <div class="cp-dispaly">
            <p>合作伙伴</p>
            <ul>
                <li><a href="#" target="_blank"><img src="https://static-image.xfz.cn/1458712198_488.png"></a></li>
                <li><a href="#"><img src="https://static-image.xfz.cn/1479889334_138.png"></a></li>
                <li><a href="#"><img src="https://static-image.xfz.cn/1454046614_958.png"></a></li>
                <li><a href="#"><img src="https://static-image.xfz.cn/1454046552_487.png"></a></li>
            </ul>
            </div>
        </div>
        <div class="copyritght-group">
            <span>©2018 才华有限公司 | 增值电信业务经营许可证：京66-888888</span>
        </div>
    </div>
</div>
</body>
</html>