<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <link rel="stylesheet" href="../../dist/css/search.min.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="#"></a>
        </div>
        <div class="top_catogery">
            <ul>
                <li>
                    <a>咨询</a>
                </li>
                <li>
                    <a>在线课堂</a>
                </li>
                <li>
                    <a>企业服务</a>
                </li>
                <li class="active">
                    <a>搜索</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="wrapper">
        <!-- 左侧导航 -->
        <div class="left-wrapper">
            <div class="search-group">
                <div class="search-wrpper">
                    <input class="frame-search" name="seaach" placeholder="可输入新闻关键字,作者名字搜索">
                    <button class="search-btn">搜索</button>
                </div>
            </div>
            <div class="search-result">搜素结果</div>
            <ul class="hot-recommends">
                <li class="recommend-item">
                    <a class="recommend-content" href="#" target="_blank">
                        <div class="left-img">
                            <img src="https://static-image.xfz.cn/1533713395_402.jpg">
                        </div>
                        <div class="right-group">
                            <p class="title">【首发】阿尔法象获3000万元人民币A轮融资，Keywise为投资方</p>
                            <div class="content-info">不凡商业8月8日消息，金融科技整体解决方案服务商阿尔法象宣布获得三千万人民币A轮融资，凯思博投资管理（香港）有限公司为投资方。</div>
                            <div class="more-info">
                                <span class="category">阿尔法象 &nbsp;微信&nbsp; 知乎</span>
                                <span class="time">8月12日</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="recommend-item">
                    <a class="recommend-content" href="#" target="_blank">
                        <div class="left-img">
                            <img src="https://static-image.xfz.cn/1533713395_402.jpg">
                        </div>
                        <div class="right-group">
                            <p class="title">【首发】阿尔法象获3000万元人民币A轮融资，Keywise为投资方</p>
                            <div class="content-info">不凡商业8月8日消息，金融科技整体解决方案服务商阿尔法象宣布获得三千万人民币A轮融资，凯思博投资管理（香港）有限公司为投资方。</div>
                            <div class="more-info">
                                <span class="category">阿尔法象 &nbsp;微信&nbsp; 知乎</span>
                                <span class="time">8月12日</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="recommend-item">
                    <a class="recommend-content" href="#" target="_blank">
                        <div class="left-img">
                            <img src="https://static-image.xfz.cn/1533713395_402.jpg">
                        </div>
                        <div class="right-group">
                            <p class="title">【首发】阿尔法象获3000万元人民币A轮融资，Keywise为投资方</p>
                            <div class="content-info">不凡商业8月8日消息，金融科技整体解决方案服务商阿尔法象宣布获得三千万人民币A轮融资，凯思博投资管理（香港）有限公司为投资方。</div>
                            <div class="more-info">
                                <span class="category">阿尔法象 &nbsp;微信&nbsp; 知乎</span>
                                <span class="time">8月12日</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="siderbar-wrapper">
            <div class="commercial">
                <div class="title-group">
                    <span class="title">小饭桌课堂</span>
                    <span class="more">更多</span>
                </div>
                <div class="ad-image">
                <a href="#">
                    <img src="https://static-image.xfz.cn/1529560387_820.jpg-website.active.list">
                </a>
                </div>
            </div>
            <div class="foucs-group">
                <div class="title-group">
                    <span class="title">联系我们</span>
                    <span class="more">更多</span>
                </div>
                <div class="content-group">
                    <ul>
                        <li class="zhihu"><a href="#">知乎</a></li>
                        <li class="weibo"><a href="#">微博</a></li>
                        <li class="toutiao"><a href="#">今日头条</a></li>
                    </ul>
                </div>
                <div class="qrcode">
                    <div class="qrcode-image"></div>
                    <span class="qrcode-info">扫码关注不凡商业微信公众平台bufanbiz</span>
                </div>
            </div>
            <div class="hotnews">
                <div class="title-group">热门推荐</div>
                <ul class="hotnews-warpper">
                     <li>
                         <div class="left-group">
                             <p class="red-content">王健林卖掉进军海外的首个项目：17亿售出伦敦ON...</p>
                            <div class="more">
                                <span class="category">深度报道</span>
                                <span class="time">1小时前</span>
                            </div>
                         </div>
                         <div class="rights-group">
                            <img src="https://static-image.xfz.cn/1531881965_705.jpg-website.news.list">
                         </div>
                    </li>
                    <li>
                         <div class="left-group">
                             <p class="red-content">王健林卖掉进军海外的首个项目：17亿售出伦敦ON...</p>
                            <div class="more">
                                <span class="category">深度报道</span>
                                <span class="time">1小时前</span>
                            </div>
                         </div>
                         <div class="rights-group">
                            <img src="https://static-image.xfz.cn/1531881965_705.jpg-website.news.list">
                         </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end左侧导航 -->
    </div>
    <!-- 底部固定 -->
    <div class="foot-warpper">
        <div class="cooperation">
            <div class="cp-dispaly">
            <p>合作伙伴</p>
            <ul>
                <li><a href="#" target="_blank"><img src="https://static-image.xfz.cn/1458712198_488.png"></a></li>
                <li><a href="#"><img src="https://static-image.xfz.cn/1479889334_138.png"></a></li>
                <li><a href="#"><img src="https://static-image.xfz.cn/1454046614_958.png"></a></li>
                <li><a href="#"><img src="https://static-image.xfz.cn/1454046552_487.png"></a></li>
            </ul>
            </div>
        </div>
        <div class="copyritght-group">
            <span>©2018 北京子木投资顾问有限公司 京ICP备15051289号-1 | 增值电信业务经营许可证：京B2-20170574</span>
        </div>
    </div>

    <!-- end底部固定 -->
</div>
</body>
</html>